<html>
<head>
    <title>Sounds of the SF Underground</title>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- build:css css/libs.css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <!-- endbuild -->

    <!-- build:css css/main.css -->
    <link rel="stylesheet" href="css/main.css">
    <!-- endbuild -->


    <!-- build:js js/libs.js -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/heatmap.js-amd/build/heatmap.js"></script>

    <script src="lib/three.js"></script>
    <script src="lib/FlyControls.js"></script>
    <script src="lib/CombinedCamera.js"></script>
    <script src="lib/wavesurfer.js"></script>
    <!--<script src="lib/gltf/glTF-parser.js"></script>-->
    <!--<script src="lib/gltf/glTFLoader.js"></script>-->
    <!--<script src="lib/gltf/glTFLoaderUtils.js"></script>-->
    <!--<script src="lib/gltf/glTFAnimation.js"></script>-->
    <!--<script src="lib/gltf/glTFShaders.js"></script>-->
    <script src="lib/ColladaLoader.js"></script>
    <!--<script src="lib/DDSLoader.js"></script>-->
    <!--<script src="lib/MTLLoader.js"></script>-->
    <!--<script src="lib/OBJLoader.js"></script>-->

    <!--<script src="bower_components/threejs-trackball-controls/TrackballControls.js"></script>-->
    <script src="bower_components/firebase/firebase-debug.js"></script>
    <!-- Firebase -->
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
    <!-- Firebase -->
    <!-- endbuild -->


</head>
<body>


    <div class="sidebar" ng-controller="MainController as main" ng-init="main.init()">
        <label>Number:
            <input type="number" ng-model="main.time" ng-change="main.changeTime()">
        </label>

        <div style="display: block">
            <label>Alert Type</label>
            <br>
            <select ng-options="alert as alert for alert in main.alert_types"
                    ng-model="main.selected.event"></select>
            <br>
            <label>Train</label><br>
            <select ng-options="route.id as route.name for route in main.routes"
                    ng-model="main.selected.route"></select>
            <button value="Test1" ng-click="main.sendAlert()">Send Alert</button>
            <button value="Test1" ng-click="main.toggleCamera()">Toggle Camera</button>
        </div>
    </div>



    <!-- build:js js/main.js -->
<script src="js/ng/app.js"></script>
<script src="js/ng/constants.js"></script>
<script src="js/ng/apiService.js"></script>
<script src="js/ng/mainController.js"></script>
<script src="js/3d/threeScene.js"></script>
<script src="js/util.js"></script>
<!-- endbuild -->
<div id="heatmap" width="100%" height="100%"
     style="width: 100%; height: 100%; position: absolute; top: 0; left: 0: z-index: 1000;"></div>
<div id="waveform"
     style="position: absolute; width: 100%; z-index: 10001; bottom: 100px; left: 0; height: 100px;"></div>

<script>
    angular.element(document).ready(function () {
        angular.bootstrap(document, ['SFUnderground']);
    });

    var wavesurfer = WaveSurfer.create({
        container: '#waveform',
        waveColor: 'violet',
        progressColor: 'purple'
    });
    wavesurfer.on('ready', function () {
        wavesurfer.play();
        setTimeout(function () {
            wavesurfer.zoom(150);
        }, 100);
    });

    //        wavesurfer.load('sound/garage_test.wav');
</script>
</body>
</html>
