<label>Number:
    <input type="number" ng-model="main.time" ng-change="main.changeTime()">
</label>
<div style="display: block">
    <label>Alert Type</label>
    <br>
    <select ng-options="alert as alert for alert in main.alert_types"
            ng-model="main.selected.event"></select>
    <br>
    <label>Train</label><br>
    <select ng-options="route.id as route.name for route in main.routes"
            ng-model="main.selected.route"></select>
    <button value="Test1" ng-click="main.sendAlert()">Send Alert</button>
</div>

<pre>{{main.data.alerts | json}}</pre>

